@use "../../styles/mixins" as m;

.footer {
  width: 100%;
  @include m.flex-center;
  flex-direction: column;
  padding: var(--sp-md);
  font-family: var(--font-body);

  &__nav {
    width: 100%;
    @include m.flex-between;
    padding: var(--sp-md) var(--sp-3xl);

    .logo {
      height: 64px;
      width: 64px;

      img {
        height: 100%;
        width: 100%;
        transition: var(--transition-base);

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }

  &__text {
    font-size: var(--fs-sm);
  }
}
